In [102]:
import time
from datetime import datetime
import pandas as pd

In [103]:
no_of_fixtures = 5

In [104]:
team_df = pd.read_csv('csv/team_info.csv', usecols=['api_id', 'name'])

In [105]:
df = pd.read_csv('csv/gameweek.csv')
df = df[df['deadline_time_epoch'] > time.time()]

next_gameweek_deadline = min(df['deadline_time_epoch'])
next_gameweek_deadline

1637406000

In [106]:
fixtures_df = pd.read_csv('csv/fixtures.csv', usecols=['Unnamed: 0', 'timestamp', 'api_home_team_id', 'api_away_team_id'])
fixtures_df.rename(columns={'Unnamed: 0': 'game_id'}, inplace=True)

fixtures_df = fixtures_df[
  (fixtures_df['timestamp'] > next_gameweek_deadline) &
  ((fixtures_df['api_home_team_id'] == 51) | (fixtures_df['api_away_team_id'] == 51))
]

fixtures_df.sort_values(by=['timestamp'])

fixtures_df

     game_id   timestamp  api_home_team_id  api_away_team_id
110   710666  1637420400                66                51
122   710678  1638034200                51                63
134   710690  1638387000                48                51
145   710701  1638630000                41                51
152   710708  1639317600                51                47
162   710718  1639596600                51                39
173   710729  1639830600                33                51
181   710737  1640548800                51                55
192   710748  1640806200                49                51
204   710760  1641132000                45                51
211   710767  1642190400                51                52
226   710782  1642863600                46                51
231   710787  1644349500                51                49
249   710805  1644678000                38                51
252   710808  1645282800                51                44
262   710818  1645887600                51                66
275   710831  1646492400                34                51
282   710838  1647097200                51                40
294   710850  1647702000                50                51
300   710856  1648908000                51                71
310   710866  1649512800                42                51
326   710882  1650117600                47                51
332   710888  1650722400                51                41
349   710905  1651327200                39                51
352   710908  1651932000                51                33
362   710918  1652623200                63                51
372   710928  1653231600                51                48

In [107]:
fixtures_temp_df = fixtures_df.merge(right=team_df, how='left', left_on='api_home_team_id', right_on='api_id')
fixtures_temp2_df = fixtures_temp_df.merge(right=team_df, how='left', left_on='api_away_team_id', right_on='api_id', suffixes=('_home','_away'))

fixtures_temp2_df

,game_id,timestamp,api_home_team_id,api_away_team_id,name_home,api_id_home,name_away,api_id_away
0,710666,1637420400,66,51,Aston Villa,66,Brighton,51
1,710678,1638034200,51,63,Brighton,51,Leeds,63
2,710690,1638387000,48,51,West Ham,48,Brighton,51
3,710701,1638630000,41,51,Southampton,41,Brighton,51
4,710708,1639317600,51,47,Brighton,51,Tottenham,47
5,710718,1639596600,51,39,Brighton,51,Wolves,39
6,710729,1639830600,33,51,Manchester United,33,Brighton,51
7,710737,1640548800,51,55,Brighton,51,Brentford,55
8,710748,1640806200,49,51,Chelsea,49,Brighton,51
9,710760,1641132000,45,51,Everton,45,Brighton,51
10,710767,1642190400,51,52,Brighton,51,Crystal Palace,52
11,710782,1642863600,46,51,Leicester,46,Brighton,51
12,710787,1644349500,51,49,Brighton,51,Chelsea,49
13,710805,1644678000,38,51,Watford,38,Brighton,51
14,710808,1645282800,51,44,Brighton,51,Burnley,44
15,710818,1645887600,51,66,Brighton,51,Aston Villa,66
16,710831,1646492400,34,51,Newcastle,34,Brighton,51
17,710838,1647097200,51,40,Brighton,51,Liverpool,40
18,710850,1647702000,50,51,Manchester City,50,Brighton,51
19,710856,1648908000,51,71,Brighton,51,Norwich,71
20,710866,1649512800,42,51,Arsenal,42,Brighton,51
21,710882,1650117600,47,51,Tottenham,47,Brighton,51
22,710888,1650722400,51,41,Brighton,51,Southampton,41
23,710905,1651327200,39,51,Wolves,39,Brighton,51
24,710908,1651932000,51,33,Brighton,51,Manchester United,33
25,710918,1652623200,63,51,Leeds,63,Brighton,51
26,710928,1653231600,51,48,Brighton,51,West Ham,48

In [108]:
fixtures_temp2_df['string'] = fixtures_temp2_df.apply(lambda row: f"{row.name_home} VS. {row.name_away}.  KO: {datetime.utcfromtimestamp(row.timestamp)}", axis=1)

for i in range(no_of_fixtures):
  print(fixtures_temp2_df['string'][i])

Aston Villa VS. Brighton.  KO: 2021-11-20 15:00:00
Brighton VS. Leeds.  KO: 2021-11-27 17:30:00
West Ham VS. Brighton.  KO: 2021-12-01 19:30:00
Southampton VS. Brighton.  KO: 2021-12-04 15:00:00
Brighton VS. Tottenham.  KO: 2021-12-12 14:00:00