In [8]:
import requests
import time
import pandas as pd
import os

In [26]:
no_of_fixtures = 5

In [25]:
fixtures_df = pd.read_csv('csv/fixtures.csv', usecols=['Unnamed: 0', 'date', 'timestamp', 'api_home_team_id', 'api_away_team_id'])
fixtures_df.rename(columns={'Unnamed: 0': 'game_id'}, inplace=True)

fixtures_df = fixtures_df[
  (fixtures_df['timestamp'] > time.time()) &
  ((fixtures_df['api_home_team_id'] == 51) | (fixtures_df['api_away_team_id'] == 51))
]

fixtures_df.sort_values(by=['timestamp'])

print(time.time())
fixtures_df.head()

1636216614.941466

,game_id,date,timestamp,api_home_team_id,api_away_team_id
102,710658,2021-11-06T17:30:00+00:00,1636219800,51,34
110,710666,2021-11-20T15:00:00+00:00,1637420400,66,51
122,710678,2021-11-27T17:30:00+00:00,1638034200,51,63
134,710690,2021-12-01T19:30:00+00:00,1638387000,48,51
145,710701,2021-12-04T15:00:00+00:00,1638630000,41,51

In [27]:
print(fixtures_df.head(no_of_fixtures))

     game_id                       date   timestamp  api_home_team_id  \
102   710658  2021-11-06T17:30:00+00:00  1636219800                51
110   710666  2021-11-20T15:00:00+00:00  1637420400                66
122   710678  2021-11-27T17:30:00+00:00  1638034200                51
134   710690  2021-12-01T19:30:00+00:00  1638387000                48
145   710701  2021-12-04T15:00:00+00:00  1638630000                41

     api_away_team_id
102                34
110                51
122                63
134                51
145                51