## Goal: to analyse historical data

In [1]:
from api_utils import get_json_from_api
import pandas as pd
import seaborn as sns

In [26]:
element_json = get_json_from_api('http://fantasy.premierleague.com/api/bootstrap-static/')
player_json = get_json_from_api('https://fantasy.premierleague.com/api/element-summary/234/')

In [28]:
element_df = pd.DataFrame(element_json['elements'])
df = pd.DataFrame(player_json['history_past'])
element_df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,NaN,NaN,80201,0,0,-1,1,0,1,2.3,...,453,48,161,7,NaN,,NaN,,NaN,
1,100.0,100.0,115918,0,0,0,0,0,1,1.0,...,287,13,363,33,NaN,,NaN,,NaN,
2,75.0,50.0,47431,0,0,-2,2,0,3,0.8,...,566,232,570,233,4.0,,2.0,,NaN,
3,100.0,100.0,54694,0,0,-1,1,0,4,1.7,...,144,31,271,34,NaN,,NaN,,1.0,
4,NaN,NaN,58822,0,0,-1,1,0,2,1.0,...,322,120,227,80,NaN,,5.0,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,NaN,NaN,149065,0,0,0,0,0,1,3.2,...,491,57,174,9,NaN,,NaN,,NaN,
573,0.0,0.0,209353,0,0,0,0,0,4,0.0,...,500,59,524,65,NaN,,NaN,,NaN,
574,NaN,NaN,245923,0,0,0,0,0,3,0.5,...,427,166,471,181,NaN,,NaN,,NaN,
575,NaN,NaN,461026,0,0,0,0,0,3,0.5,...,437,172,480,186,NaN,,NaN,,NaN,
576,NaN,NaN,481626,0,0,0,0,0,2,0.5,...,315,113,388,139,NaN,,NaN,,NaN,

In [27]:
df.columns
element_json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [22]:
df

,season_name,element_code,start_cost,end_cost,total_points,minutes,goals_scored,assists,clean_sheets,goals_conceded,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,2014/15,122798,45,42,45,1526,0,2,3,27,...,0,7,0,0,4,282,0.0,0.0,0.0,0.0
1,2016/17,122798,45,44,73,2736,1,2,5,59,...,0,5,0,0,4,488,502.6,352.8,100.0,95.6
2,2017/18,122798,50,50,111,1940,1,5,10,18,...,0,2,0,0,12,514,424.0,414.5,174.0,101.3
3,2018/19,122798,60,67,213,3216,0,12,21,20,...,0,4,0,0,29,906,748.8,767.2,318.0,183.6
4,2019/20,122798,70,70,181,3111,2,12,13,31,...,0,2,0,0,20,847,845.8,980.2,389.0,221.7
5,2020/21,122798,70,73,161,3384,1,8,12,42,...,0,2,0,0,19,834,754.4,1129.3,359.0,224.5